
html {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 72px;
}

body {
    background-color: rgb(38,38,38);
}

main {
    background-color: white;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(38,38,38,.8);
    display: flex;
    flex-direction: row;
    padding: 1em;
    height: var(--header-height);
    backdrop-filter: blur(.5em);

    > a {
        display: contents;
    }
}

.btn-pill {
    height: 2.5em;
    border-radius: 1.25em;
    padding-inline: 1em;
    font-size: large;
    background-color: #fcfcfc;
    border: 2px solid #dedede;
    box-shadow: 0 0.05em 0.5em rgb(0 0 0 / 15%);
    color: #424242;

    &:hover {
        background-color: #f0f0f0;
        color: #000000;
        border-color: #d0d0d0;
    }

    &.active {
        background-color: #f0f0f0;
        color: #000000;
        border-color: #7a7a7a;
    }
}

.content {
  max-width: 120em;
  padding: 2em 3em;
  margin-inline: auto;
}

.page-title {
    font-size: 1.75em;
    margin-bottom: 1em;
    font-weight: 450;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
